html {
    font-size: 15px;
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}
header {
    margin: 0 auto;
    width: 980px;
}
.header-fon {
    background-color: #184C7C;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.menu-link-1 {
    width: 16%;
    font-size: 1.4rem;
}
.menu-link-3 a {
    color: #fff;
    text-decoration: none;
}
.menu-link-3 a:hover {
    text-decoration: underline;
}
.menu-link-2:hover{
    text-decoration: underline;
    color: #fff;
}
.menu a {
    color: #fff;
    text-decoration: none;
}
.icon {
    display: flex;
    justify-content: space-between;
}
.icon-1 {
    margin-right: 30px;
}
.bars {
    display: none;
    margin-right: 30px;
}

.main-1 {
    margin: 0 auto;
    width: 980px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
}
.main-1 span {
    color: #184C7C;
}
.span1 {
    font-size: 1.2rem;
}
.span2 a{
    font-size: 0.9rem;
    text-decoration: none;
}
.main-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 980px;
}
.main-2 img {
    width: 111.5px;
    height: 164.26px;
}
.but {
    background: #184C7C;
    box-shadow: 0px 10px 10px #000000;
    color: #fff;
    position: absolute;
    margin-top: 244px;
    border: none;
    padding: 5px 25px 5px 25px;
    font-size: 12px;
}
.but:hover {
    background: #11385c;
}
.main-2-1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 275px;
}
.main-2-1:hover {
    box-shadow: 0px 0px 10px #606060;
}
.main-img1 {
    margin:0 auto;
}
.main-2-1 .image2 {
    display: block;
    margin: 0 auto;
}
.main-2-1 .image{
    width: 35.144px;
    height: 38.2px;
    position: absolute;
    margin-top: 237px;
    margin-left: 138px;
}
.span3 {
    margin-top: 10px;
}
.span4 {
    position: absolute;
    margin-top: 215px;
    font-size: 12px;
    color: #262626;
}
.foot2 img {
    width: 52px;
    height: 52px;
}
.foot {
    margin: 0 auto;
    width: 980px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 35px 0px 35px 0px;
}
.foot1 a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.foot-fon {
    background-color: #184C7C;
    margin-top: 55px;
}
.foot2 {
    text-align: center;
}
.foot3 p{
    text-align: center;
}
.news {
    margin: 0 auto;
    width: 980px;
}
.main-news-1 {
    margin-top: 70px;
    margin-bottom: 70px;
    text-decoration: none;
}
.main-news-1-1 {
    display: flex;
}
.main-news-1 a{
    text-decoration: none;
}
.news-1 {
    color: #11385c;
    text-align: center;
    font-size: xxx-large;
    margin-top: 60px;
}
.news-2 {
    color: #184C7C;
    text-align: center;
    margin-bottom: 30px;
}
.main-news-1 img {
    width: 350px;
    height: 175px;
    align-content: center;
}
.main-news-1-1 span {
    text-transform: uppercase;
    color: #184C7C;
    font-size: x-large;
    width: 30%;
    margin-left: 40px;
}
.main-news-1-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-news-1-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-news-1-1 span{
    text-transform: uppercase;
    color: #184C7C;
    font-size: x-large;
}
hr {
    width: 20%;
    border-color: #184C7C;
}
.main-news-2{
    margin-top: 70px;
    margin-bottom: 70px;
}
.main-news-1-1 span{
    text-transform: uppercase;
    color: #184C7C;
    font-size: x-large;
    width: 30%;
    margin-left: 40px;
}
.main-news-2 a{
    text-decoration: none;
}
.main-news-2 img{
    width: 350px;
    height: 218.750px;
}
.news-3 {
    margin-top: 25px;
}
.main4 {
    margin: 0 auto;
    width: 980px;
}
.main4 {
    margin-top: 80px;
}
.main4 h2 {
    color: #11385c;
}
.main4-1 {
    display: flex;
    justify-content: space-between;
}
.main4-2 {
    display: flex;
    font-size: 12px;
    width: 80%;
    color: #184C7C;
}
.main4-2 img {
    width: 70px;
    height: 70px;
}
.main4-2 span {
    margin-bottom: 5px;
}
.main4-2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.m-menu {
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    list-style: none;
    font-size: 3rem;
    line-height: 3;
    background-color: #184C7C;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    transform: translateX(100%);
}
.m-menu__active {
    transform: translateX(0%);
}
.close-menu {
    position: fixed;
    right: 5rem;
    top: 0rem;
    font-weight: 900;
}
.close-menu a{
    text-decoration: none;
    color: #fff;
}
.close-menu.hover {
    cursor: pointer;
}
.book-fon {
    margin-top: 30px;
}
.main-book {
    margin: 0 auto;
    width: 980px;
}
.main-book-1 {
    display: flex;
}
.main-book-2 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.main-book-2 span{
    margin-bottom: 10px;
}
.main-book-1 input{
    margin-left: 40px;
}
.but10 {
    border: none;
    background: #184C7C;
    color: white;
    border-radius: 6px;
    padding: 15px 30px 15px 30px;
    font-size: 15px;
    margin-bottom: 10px;
}
.but10:hover {
    background: #11385c;
}
.main-book-3 {
    margin-top: 80px;
}
.feedback {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.feedback input{
    margin-top: 10px;
}
.feedback textarea{
    margin-top: 10px;
    resize: none;
}
.rating-area {
	overflow: hidden;
	width: 265px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}
.feedback-2 {
    margin-top: 80px;
}
.main-book-4 {
    margin-top: 10px;
    border: 1px solid #11385c;
    border-radius: 6px;
    padding: 20px;
}
.rating-mini {
	display: inline-block;
	font-size: 0;
    padding-bottom: 10px;
}
.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: gold;
}
.main-book-4-1 {
    display: flex;
    justify-content: space-between;
}
.main-404 {
    margin: 0 auto;
    width: 980px;
}
.main-404-1 {
    display: flex;
    align-items: center;
    margin-top: 120px;
}
.main-404-2 {
    display: flex;
    flex-direction: column;
}
.main-404-2 span{
    margin-bottom: 10px;
    margin-left: 30px;
    color: #184C7C;
}
.main-404-2 a{
    color: #11385c;
}
.text-404 {
    font-size: 200px;
    color: #184C7C;
}
.search input{ 
    border: 1.5px solid #184C7C;
    border-radius: 6px;
    font-size: 10pt;
    padding: 10px 20px;
    padding-right: 775px;
    margin-bottom: 120px;
}
i.fa {
    width: 38px;
    height: 38px;
    line-height: 35px;
    text-align: center;
    margin-right: -38px;
    position: relative;
    z-index: 1;
    float: left;
    color: #184C7C;
    transform: rotate(90deg);
  }
  
i.fa + input {
    padding-left: 38px;
}
